@import './settings';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font: {
    family: var(--body-font-family);
    size: var(--body-font-size);
  }
  line-height: var(--body-line-height);
  color: var(--body-color);
  background: var(--body-background);
}

img {
  max-width: 100%;
  height: auto;
}

p {
  margin: 0 0 22px 0;

  &:last-child{
    margin: 0;
  }
}

.content-box{
  &:not(:last-child){
    margin-bottom: 30px;
  }
}

.content-flex{
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  gap: 24px;

  &.align-center{
    align-items: center;
  }

  h1,h2,h3,h4{
    margin-bottom: 0;
  }

  &-txt{
    max-width: 525px;
    flex: 1;

    &.small{
      max-width: 415px;
    }
  }

  @include breakpoint(large down){
    flex-direction: column;
    width: 100%;
    align-items: center;
    text-align: center;
  }

  a:not([class]){
    font-size: 28px;
  }

  span{
    color: var(--primary-color);
    margin-bottom: 8px;
  }
}

@include allHeaders {
  font-weight: 700;
  margin: 0 0 1rem;
  color: var(--black);
}

$headers: map-get($header-styles, 'small');

@each $selector, $options in $headers {
  #{$selector} {
    @each $option, $val in $options {
      #{$option}: var(--#{$selector}-#{$option});
    }
  }
}

a {
  color: var(--primary-color);
  text-decoration: none;
  font-weight: 600;

  &:hover {
    text-decoration: underline;
  }
}

.container {
  max-width: var(--container-width);
  padding-left: var(--container-space);
  padding-right: var(--container-space);
  margin-left: auto;
  margin-right: auto;

  &.min{
    max-width: 896px;
  }
}

.section {
  margin-top: var(--section-space);
  margin-bottom: var(--section-space);

  .inner {
    padding-top: var(--section-space);
    padding-bottom: var(--section-space);
  }

  &.no-out-space {
    margin-top: 0;
    margin-bottom: 0;
  }

  &.no-top-space {
    margin-top: 0;
  }

  &.no-bottom-space {
    margin-bottom: 0;
  }

  &.grey{
    background-color: var(--grey-bg);
  }

  &.blue{
    background-color: var(--primary-color);
  }
}

.ttl{
  font-family: var(--ttl-main-family);
  color: var(--primary-color);
  text-transform: uppercase;
}

.main-ttl{
  font-family: var(--ttl-main-family);
  color: var(--primary-color);
  text-transform: uppercase;
  font-size: 70px;

  @include breakpoint(xlarge down){
    font-size: 50px;
  }
  @include breakpoint(small down){
    font-size: 33px;
  }
}

.content-ttl{
  max-width: 800px;

  &.small{
    max-width: 640px;
  }

  &.full{
    min-width: 100%;
  }

  span{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 16px;
    color: var(--primary-color);
    display: block;

    @include breakpoint(small down){
      font-size: 16px;
    }
  }
}

.text-center{
  text-align: center;
}

.pos-center{
  margin: 0 auto;
}

ul:not(class), ol:not(class){
  padding-left: 15px;
}

main {
  padding-top: 97px;

  @include breakpoint(medium down) {
    padding-top: 64px;
  }
}

.only-desc{
  @include breakpoint(medium down) {
    display: none !important;
  }
}

.only-mob{
  @include breakpoint(large up) {
    display: none !important;
  }
}

.slider{
  &-pag{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding-top: 64px;

    @include breakpoint(small down) {
      padding-top: 36px;
      gap: 20px;
    }
  }

  &-btn{
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--primary-color);
    background: transparent;
    background-image: url("data:image/svg+xml,%3Csvg width='8' height='12' viewBox='0 0 8 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 10.59L3.42 6L8 1.41L6.59 -6.1633e-08L0.590001 6L6.59 12L8 10.59Z' fill='%23000080'/%3E%3C/svg%3E");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 8px 12px;
    position: absolute;
    cursor: pointer;

    &.swiper-button-disabled{
      cursor: not-allowed;
      opacity: 0.5;
    }

    @include breakpoint(small down) {
      display: none;
    }
  }

  &-prev{
    top: 50%;
    left: 0;
  }

  &-next{
    transform: rotate(180deg);
    right: 0;
    top: 50%;
  }
}

.img-flex{
  display: grid;
  grid-template-columns: auto 416px;
  gap: 24px;

  @include breakpoint(medium down) {
    display: flex;
    flex-direction: column;
    gap: 0;
  }

  &-content{
    box-shadow: 0px 5px 10px 0px rgba(59, 64, 236, 0.10);
    padding: 40px;
    background-color: var(--white);

    @include breakpoint(small down) {
      padding: 20px;
    }
  }

  &-btn{
    margin-top: 20px;
  }

  &-img{
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    @include breakpoint(medium down) {
      width: 100%;
    }
  }

  .btns-box{
    margin-top: 50px;
    gap: 24px;
    flex-wrap: wrap;
    margin-right: auto;
    justify-content: flex-start;
    max-width: 100%;
  }
}

.grid-box{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  padding-top: 50px;

  @include breakpoint(small down){
    padding-top: 30px;
    grid-template-columns: repeat(1, 100%);
  }
}

