@import '../settings';

ul.bread{
  list-style: none;
  padding: 60px 0 40px 0;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 8px;
  color: #2F34E080;

  li{
    a{
      color: inherit;
    }
  }

  li:last-child{
    color: var(--primary-color);
  }

  @include breakpoint(medium down) {
    display: none;
  }
}