.btns-box{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 60px;
  justify-content: center;

  @include breakpoint(medium down) {
    gap: 40px;
  }

  @include breakpoint(small down) {
    grid-template-columns: repeat(1, 100%);
    width: 100%;
    max-width: 320px;
    gap: 24px;
  }
}

.btns-box-btn{
  position: relative;
}

.btns-box-helper{
  position: absolute;
  top: 0;
  right: -32px;

  &-img{
    width: 24px;
    height: 24px;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M12 8V13M12 22C17.5 22 22 17.5 22 12C22 6.5 17.5 2 12 2C6.5 2 2 6.5 2 12C2 17.5 6.5 22 12 22Z' stroke='%23000080' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M11.995 16H12.004' stroke='%23000080' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E") no-repeat center center / contain;
    cursor: pointer;
  }

  &-txt{
    position: absolute;
    right: 100%;
    top: 10px;
    padding: 10px;
    font-size: 14px;
    background-color: var(--white);
    border-radius: 3px;
    text-align: center;
    width: 200px;
    border: 1px solid var(--primary-color);
    display: none;
  }

  &:hover{
    .btns-box-helper-txt{
      display: block;
    }
  }

  @include breakpoint(small down) {
    display: none;
  }
}