@import '../settings';

.count{
  &-inner{
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 44px;

    @include breakpoint(small down) {
      gap: 24px;
    }
  }

  &-ttl{
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    color: var(--black);

    @include breakpoint(small down) {
      font-size: 22px;
    }
  }

  &-subttl{
    font-size: 16px;
    margin-top: 10px;
    font-weight: 400;

    @include breakpoint(small down) {
      font-size: 14px;
    }
  }

  &-value{
    font-size: 70px;
    margin: 14px auto 10px auto;
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: -1.4px;
    text-transform: uppercase;

    @include breakpoint(small down) {
      font-size: 45px;
    }
  }
}
