@import '../settings';

.footer{
  background-color: var(--primary-color);
  padding: 72px 0 50px 0;
  color: var(--white);

  &-top{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 50px;
  }

  &-middle{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 75px 0 20px 0;
    width: 100%;
    border-bottom: 1px solid var(--white);
  }

  &-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
  }

  &-ttl{
    font-size: 40px;
    font-weight: 700;
    line-height: 1.25;
    letter-spacing: -0.8px;
    text-transform: uppercase;
    max-width: 636px;
  }

  &-mail{
    font-size: 28px;
    font-weight: 600;
  }

  &-link, &-mail{
    color: var(--white);
    text-decoration: none;
  }

  &-social{
    &-list{
      list-style: none;
      padding: 0;
      margin: 0;
    }
  }

}