.galery{
  padding-top: 48px;

  &-imgs{
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: space-around;

    @include breakpoint(small down) {
      flex-direction: column;
      gap: 15px;
    }
  }

  &-item{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: max-content;
    min-width: 190px;

    &:nth-child(1), &:nth-child(5), &:nth-child(4),&:nth-child(8){
      flex: 1;

      @include breakpoint(medium down) {
        flex: none;
      }
    }

    @include breakpoint(medium down) {
      width: 48%;
      min-width: auto;
    }

    @include breakpoint(small down) {
      width: 100%;
    }
  }

  img{
    height: 100%;
    object-fit: cover;
    min-width: 100%;
  }
}