---
title: Сторінку не знайдено
---

<section class="section er404">
    <div class="container">
        <div class="er404-inner">
            <img class="er404-img" src="{{root}}/assets/img/page-404.svg" alt="img">
            <h1 class="er404-ttl">{{title}}</h1>
            <a href="/" class="button">На головну</a>
        </div>
    </div>
</section>