---
title: Політика конфіденційності
---
{{> breadcrumbs}}
<section class="section no-top-space">
	<div class="container min">
		<h1 class="ttl text-center">{{title}}</h1>
        <div class="content-box">
            <p>БО 'БЛАГОДІЙНИЙ ФОНД 'ЮЕЙД’, код ЄДРПОУ 44838221, благодійна організація, зареєстрована за законодавством України (надалі – БО БФ ЮЕЙД) здійснює управління платформою збору коштів у вигляді благодійних пожертв, яка створена для користувачів, які мають намір підтримувати гуманітарну та військову відповідь України, платформа доступна за посиланням https://www.u-aid.org/ (”Вебсайт”).</p>
            <p>Коли ви відвідуєте Вебсайт, БО БФ ЮЕЙД отримує інформацію про вас. Ця політика (<b>”Політика конфіденційності”</b>) застосовується до вас, коли:</p>
            <ul>
                <li>Ви відвідуєте наш Вебсайт;</li>
                <li>Ви робите пожертвування;</li>
                <li>Ви надали нам свої особисті дані іншим способом для комунікаційних цілей.</li>
            </ul>
        </div>
        <div class="content-box">
            <h3>Обробка даних</h3>
            <p>Те, як БО БФ ЮЕЙД обробляє ваші персональні дані, залежить від того, як ви використовуєте Вебсайт та взаємодієте з ним. Частина інформації надається безпосередньо вами, тоді як інша інформація обробляється за допомогою автоматизованих технологій.</p>
        </div>
        <div class="content-box">
            <h3>Типи даних, які обробляє БО БФ ЮЕЙД: БО БФ ЮЕЙД обробляє такі типи ваших даних:</h3>
            <p>Контактні дані (ім’я, <a href="#">прізвище</a>, електронна адреса, номер телефону);</p>
        </div>
	</div>
</section>
