---
title: Громадська організація Оса
---
<section class="section small-space">
	<div class="container">
        <div class="content-flex align-center">
            <div class="content-ttl">
                <h1 class="main-ttl">{{title}}</h1>
            </div>
            <div class="content-flex-txt small">Офіційно зареєстроване об'єднання волонтерів. Наша мета - це надійний тил для наших військових та підтримка цивільних у гарячих точках фронту.</div>
        </div>
	</div>
</section>

<section class="section hero no-top-space">
        <img class="hero-img" src="https://dummyimage.com/1440x600/6f6fa1/fff" alt="main image">
</section>

<section class="section">
    <div class="container">
        <div class="content-flex">
            <div class="content-ttl small">
                <span>Про нас</span>
                <h2 class="ttl">хаос став нашою силою, а оса — символом</h2>
            </div>
            <div class="content-flex-txt">Утворившись з хаосу на початку повномасштабного вторгнення, ми щоденно працюємо на межі власних можливостей. Відкриваємо нові збори, купуємо та ремонтуємо автівки, проводимо гуманітарні виїзди у прифронтові території та робимо ще багато інших не менш важливих справ.</div>
        </div>
        <div class="galery">
            <div class="galery-imgs" id="gallery-mixed-content-demo">
                <div class="galery-item"><img src="https://dummyimage.com/1440x600/6f6fa1/fff" width="340" alt="img"></div>
                <div class="galery-item"><img src="https://dummyimage.com/900x500/6f6fa1/fff" width="340" alt="img"></div>
                <div class="galery-item"><img src="https://dummyimage.com/900x500/6f6fa1/fff" width="350" alt="img"></div>
                <div class="galery-item"><img src="https://dummyimage.com/1440x600/6f6fa1/fff" width="340" alt="img"></div>
                <div class="galery-item"><img src="https://dummyimage.com/1440x600/6f6fa1/fff" width="320" alt="img"></div>
                <div class="galery-item"><img src="https://dummyimage.com/1440x600/6f6fa1/fff" width="420" alt="img"></div>
                <div class="galery-item"><img src="https://dummyimage.com/500x200/6f6fa1/fff" width="220" alt="img"></div>
                <div class="galery-item"><img src="https://dummyimage.com/900x500/6f6fa1/fff" width="310" alt="img"></div>
            </div>
        </div>
    </div>
</section>

<section class="section grey help">
    <div class="container">
        <div class="content-ttl pos-center text-center">
            <span>OSAHelp</span>
            <h2 class="ttl">невпинно Працюємо в сферах своєї компетенції</h2>
        </div>
        <div class="help-slider">
            <button type="button" class="help-prev slider-btn slider-prev"></button>
            <button type="button" class="help-next slider-btn slider-next"></button>
            <div class="swiper" id="help-slider">
                <div class="swiper-wrapper">
                    {{#repeat 8}}
                    <div class="swiper-slide help-card">
                        <div class="help-img"><img src="{{root}}/assets/img/icons/help-icon1.svg" alt="img"></div>
                        <div class="help-ttl">Амуніція</div>
                        <div class="help-text">Доставка захисного спорядження, тактичного одягу та аксесуарів</div>
                    </div>
                    {{/repeat}}
                </div>
            </div>
        </div>
        <div class="help-pag slider-pag"></div>
    </div>
</section>

<section class="section count">
    <div class="container min">
        <div class="count-inner">
            <div class="count-ttl">
                Допомогли військовим та цивільним на
                <div class="count-value">13 700 000₴</div>
                завдяки внескам та підтримці партнерів
                <div class="count-subttl">станом на 1 вересня 2023</div>
            </div>
            {{> btns-box}}
        </div>
    </div>
</section>

{{> number}}

<section class="section slider-dbl">
    <div class="container">
        <div class="content-flex">
            <div class="content-ttl small">
                <span>Як ми допомагаємо</span>
                <h2 class="ttl">Робимо все необхідне і звітуємо про це</h2>
            </div>
            <div class="content-flex-txt">В основі діяльності ОСА - раціональне волонтерство. Ми концентруємо свої зусилля, аби досягти найвищого коефіцієнту корисної дії  на кожну використану гривню. За час діяльності нам довелось неабияк розиширити межі своїх знань та інструментів підтримки цивільних та військових. Усе це зафіксовано у звітах.</div>
        </div>
        <div class="slider-dbl-inner">
            <div class="swiper slider-dbl-main">
                <div class="swiper-wrapper">
                    {{#repeat 4}}
                    <a href="#" class="swiper-slide">
                        <img src="{{root}}/assets/img/item0.jpg" alt="img"/>
                        <div class="slider-dbl-txt">
                            Від початку повномасштабного вторгнення ГО «ОСА» підтримує наш нескорений народ на прифронтових та деокупованих територіях. Продукти харчування, корм для
                            тварин, одяг, медикаменти, вогнегасники, генератори – усі ці та інші важливі речі були доставлені силами наших волонтерів тим, хто потребує цього найбільше.
                        </div>
                    </a>
                    {{/repeat}}
                </div>
            </div>
            <div thumbsSlider="" class="swiper slider-dbl-thumb">
                <div class="swiper-wrapper">
                    {{#repeat 4}}
                        <div class="swiper-slide slider-dbl-thumb-item">
                            <img src="{{root}}/assets/img/item0.jpg" alt="img"/>
                            <div class="slider-dbl-desc">
                                <div class="slider-dbl-ttl">6 гуманітарних виїздів літа</div>
                                <div class="slider-dbl-subttl">на прифронтові та деокуповані території</div>
                            </div>
                        </div>
                    {{/repeat}}
                </div>
            </div>
        </div>
        <div class="slider-dbl-pag slider-pag"></div>
        <div class="slider-dbl-btn">
            <a href="#" class="button">Усі звіти</a>
        </div>
    </div>
</section>

{{> projects-block}}
{{> bank}}


<section class="section grey tell no-top-space">
    <div class="container">
        <div class="content-ttl">
            <span>ОСА в ЗМІ</span>
            <h2 class="ttl">ПРО НАС ГОВОРЯТЬ</h2>
        </div>
        <div class="tell-slider">
            <button type="button" class="tell-prev slider-btn slider-prev"></button>
            <button type="button" class="tell-next slider-btn slider-next"></button>
            <div class="swiper" id="tell-slider">
                <div class="swiper-wrapper">
                    {{#repeat 8}}
                        <div class="swiper-slide tell-card">
                            <div class="tell-top">
                                <div class="tell-img"><img src="https://dummyimage.com/65x65/6f6fa1/fff" width="65" height="65" alt="img"></div>
                                <div class="tell-ttl">
                                    <div class="tell-name">Le Journal de Montreal</div>
                                    <div class="tell-info">Канадська газета</div>
                                    <a href="#" class="tell-link">Посилання на статтю</a>
                                </div>
                            </div>
                            <div class="tell-text">“Артем і його група волонтерів за останній місяць роздали майже 40 тисяч обідів, евакуювали 20 сімей і допомогли 500 бійцям”.</div>
                        </div>
                    {{/repeat}}
                </div>
            </div>
        </div>
        <div class="tell-pag slider-pag"></div>
    </div>
</section>

<section class="section friends">
    <div class="container">
        <div class="content-flex">
            <div class="content-ttl small">
                <span>Наші друзі</span>
                <h2 class="ttl">БІЗНЕСи ТА ІНФЛЮЕНСЕРИ, ДЯКУЄМО ВАМ</h2>
            </div>
            <div class="content-flex-txt small">
                <span>Станьте нашим другом!</span>
                <a href="mailto:osavolunteer@gmail.com">osavolunteer@gmail.com</a>
            </div>
        </div>
        <div class="friends-inner">
            <div class="friends-tabs">
                <button class="tabs-btn active" data-tabs="#influence">Інфлюенсери</button>
                <button class="tabs-btn" data-tabs="#business">Бізнес</button>
            </div>
            <div class="friends-content active" id="influence" data-tabs-content>
                <div class="swiper influence-slider">
                    <div class="swiper-wrapper">
                        {{#repeat 6}}
                            <div class="swiper-slide friend-card">
                                <div class="friend-card-img"><img src="https://dummyimage.com/140x140/6f6fa1/fff" width="140" height="140" alt="img"></div>
                                <div class="friend-card-info">
                                    <div class="friend-card-name">Олексій Дурнєв</div>
                                    <div class="friend-card-pos">YouTube-блогер</div>
                                    <div class="friend-card-txt">Збір авто на ЗСУ та передача військовим термобілизни </div>
                                </div>
                            </div>
                        {{/repeat}}
                    </div>
                </div>
                <div class="influence-slider-pag friends-pag slider-pag"></div>
            </div>
            <div class="friends-content" id="business" data-tabs-content>
                <div class="swiper business-slider">
                    <div class="swiper-wrapper">
                        {{#repeat 6}}
                            <div class="swiper-slide friend-card">
                                <a href="#" class="friend-card-img"><img src="https://dummyimage.com/140x140/6f8fa2/fff" width="140" height="140" alt="img"></a>
                                <div class="friend-card-info">
                                    <div class="friend-card-name">Нова Пошта</div>
                                    <div class="friend-card-pos">Українська міжнародна група компаній з логістики</div>
                                    <div class="friend-card-txt">Організація безкоштовної доставки гуманітарних посилок</div>
                                </div>
                            </div>
                        {{/repeat}}
                    </div>
                </div>
                <div class="business-slider-pag slider-pag"></div>
            </div>
        </div>
    </div>
</section>

<section class="section team">
    <div class="container">
        <div class="content-flex">
            <div class="content-ttl small">
                <span>Наша команда</span>
                <h2 class="ttl">почуй наших волонтерів</h2>
            </div>
            <div class="content-flex-txt small">
                <a href="#" class="button">Долучитися до команди</a>
            </div>
        </div>
        <div class="team-inner">
            {{#repeat 3}}
                <div class="team-card">
                    <div class="team-card-top">
                        <img class="team-card-img" src="https://dummyimage.com/100x100/6f6fa1/fff" alt="photo">
                        <div class="team-card-info">
                            <div class="team-card-name">Артем</div>
                            <div class="team-card-pos"><span>Напрям роботи в ОСА: </span>Голова Правління</div>
                            <div class="team-card-out"><span>За межами ОСА: </span>Account Manager</div>
                        </div>
                    </div>
                    <div class="team-card-txt">
                        “Спочатку ОСА була створена, як координаційна група для пошуку допомоги військовим та цивільним, але вже незабаром переросла в повноцінну волонтерську організацію.
                        Я вважаю, що наше найбільше досягнення це вдячність людей, кому ми мали змогу допомогти. Все інше це тільки статистика”.
                    </div>
                </div>
            {{/repeat}}
        </div>
    </div>
</section>
