<div class="btns-box">
    <a href="#" class="button secondary">Зробити внесок</a>
    <a href="#" class="button secondary">Стати патроном</a>
    <div class="btns-box-btn">
        <a href="#" class="button expanded">Запит на допомогу</a>
        <div class="btns-box-helper">
            <div class="btns-box-helper-img"></div>
            <div class="btns-box-helper-txt">Звернутись по допомогу найкраще через емейл!</div>
        </div>
    </div>
</div>