<div class="cookies hide" id="cookies">
    <button type="button" class="close-btn" data-close="#cookies"><img src="{{root}}/assets/img/close-btn.svg" alt="img"></button>
    <div class="cookies-inner">
        <div class="cookies-ttl">We use cookies</div>
        <div class="cookies-txt">Утворившись з хаосу на початку повномасштабного вторгнення, ми щоденно працюємо на межі власних можливостей. Відкриваємо нові збори, купуємо та ремонтуємо автівки, </div>
        <div class="cookies-btns">
            <button type="button" class="button secondary cookies-btn">Погодитись</button>
            <button type="button" class="button" data-close="#cookies">Відмовитись</button>
        </div>
    </div>
</div>