<div class="default-card">
    <div class="default-card-img"><img src="{{root}}/assets/img/item0.jpg" alt="img"/></div>
    <div class="default-card-ttl">Назва цінності</div>
    <div class="default-card-txt">Портативної станції радіоелектронної боротьби, що «захищає від усіх FPV», не існує. Вона може бути непоганим ситуативним захистом у комплексі з іншими заходами.</div>
</div>