<footer class="footer">
	<div class="container">
		<div class="footer-top">
            <div class="footer-ttl">Працюємо невпинно задля Перемоги уКраїни!</div>
            <div class="footer-box">
                <div class="footer-label">Станьте нашим другом!</div>
                <a href="mailto:osavolunteer@gmail.com" class="footer-mail">osavolunteer@gmail.com</a>
            </div>
        </div>
		<div class="footer-middle">
            <div class="footer-label">OSAHELP © 2024 / All Rights Reserved </div>
            <div class="footer-social">
                <ul class="footer-social-list">
                    <li><a href="#"><img src="{{root}}/assets/img/icons/telegram.svg" alt="social"></a></li>
                </ul>
            </div>

        </div>
		<div class="footer-bottom">
            <a class="footer-link" href="#">Публічна оферта</a>
            <a class="footer-link" href="#">Політика конфіденційності</a>
            <a class="footer-link" href="#">Політика Cookie</a>
        </div>
	</div>
</footer>
