<section class="section number blue">
    <div class="container">
        <div class="number-inner">
            <div class="content-ttl pos-center text-center">
                <span>Діяльність ОСА в цифрах</span>
                <h2 class="ttl">ЯКІ ЗБІЛЬШУЮТЬСЯ ЩОДНЯ</h2>
            </div>
            <div class="number-box">
                <div class="number-item">212k+
                    <span>км з гуманітарними виїздами</span>
                </div>
                <div class="number-item">2600+
                    <span>наборів тактичної медицини забезпечено</span>
                </div>
                <div class="number-item">186+
                    <span>тонн продуктів харчування доставлено</span>
                </div>
                <div class="number-item">41
                    <span>позашляховик куплено, відремонтовано та передано</span>
                </div>
                <div class="number-item">33
                    <span>квадрокоптера передано</span>
                </div>
                <div class="number-item">70
                    <span>гуманітарних виїздів</span>
                </div>
                <div class="number-item">10+
                    <span>тонн відправлених посилок</span>
                </div>
            </div>
        </div>
    </div>
</section>