<div class="pagination">
    <button class="button disable"><img src="{{root}}/assets/img/pag-arrow-prev.svg" alt="arrow">Попередня</button>
    <button class="pagination-btn active">1</button>
    <button class="pagination-btn">2</button>
    <span>...</span>
    <button class="pagination-btn">6</button>
    <button class="button">Наступна<img src="{{root}}/assets/img/pag-arrow-next.svg" alt="arrow"></button>
</div>