<div class="project {{#if class}}{{{class}}}{{/if}}">
    <div class="project-top">
        <img src="{{root}}/assets/img/item0.jpg" alt="img"/>
        <!-- "closed" class if project is closed -->
        <span class="project-lbl">Збір триває</span>
    </div>
    <div class="project-info">
        <div class="project-ttl">Діяльність ГО "ОСА"</div>
        <!-- "constant" class for constant -->
        <div class="project-val">Ціль: 270 000₴</div>
        <div class="project-txt">Збір на позашляховик для 3-го батальону 79 бригади десантно-штурмових выйськ. Попередню машину вiйcькові втратили у наслідок прильоту і дуже потребують нового...</div>
        <div class="project-btn">
            <a href="#" class="button secondary project-progress">Підтримати</a>
            <a href="#" class="button project-done">Звіт</a>
        </div>
    </div>
</div>