<div class="project">
    <div class="project-top">
        <img src="{{root}}/assets/img/item0.jpg" alt="img"/>
        <!-- "close" class if project is closed -->
        <span class="project-lbl">Збір триває</span>
    </div>
    <div class="project-info">
        <div class="project-ttl">Діяльність ГО "ОСА"</div>
        <!-- "constant" class for constant -->
        <div class="project-val">Ціль: 270 000₴</div>
        <div class="project-txt">ОСА невпинно працює для забезпечення цивільного населення та військових. Власними зусиллями ми забезпечуємо поїздки з гуманітарними...</div>
        <div class="project-btn">
            <a href="#" class="button secondary">Підтримати</a>
            <!-- if project is closed -->
            <!-- <a href="#" class="button">Звіт</a>-->
        </div>
    </div>
</div>