<div class="report">
    <div class="report-top">
        <img src="{{root}}/assets/img/item0.jpg" alt="img"/>
    </div>
    <div class="report-info">
        <div class="report-ttl">6 гуманітарних виїздів літа
            <div class="report-subttl">на прифронтові та деокуповані території</div>
        </div>

        <div class="report-txt">Портативної станції радіоелектронної боротьби, що «захищає від усіх FPV», не існує. Вона може бути непоганим ситуативним захистом у комплексі з іншими заходами.</div>
        <div class="report-date">
            <time>Квітень, 2023</time>
        </div>
    </div>
</div>